:root{
    --bg-linear: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a{
    color: black;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    background-color: hsl(221, 100%, 96%);
}